name: Deploy Sphinx Docs to GitHub Pages

on:
  push:
    branches:
      - gh-pages

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          pip install sphinx sphinx_rtd_theme myst_parser
      - name: Sphinx build
        run: |
          sphinx-build source _build
      - uses: actions/upload-artifact@v3
        with:
          name: Documentation
          path: "$GITHUB_WORKSPACE/build/html"